<div class="voting__count-down">
    <h3 class="voting__count-down-headline">{{countdownTitle}}</h3>
    <div class="voting__count-down-time">
   	 	<span class="voting__count-down__dd" id="voting__count-down__dd" data-content="{{settings.languageSupport.votingCountDownClockDays}}"></span>
        <span>:</span>
        <span class="voting__count-down__hh" id="voting__count-down__hh" data-content="{{settings.languageSupport.votingCountDownClockHours}}"></span>
        <span>:</span>
        <span class="voting__count-down__mm" id="voting__count-down__mm" data-content="{{settings.languageSupport.votingCountDownClockMinutes}}"></span>
        <span>:</span>
        <span class="voting__count-down__ss" id="voting__count-down__ss" data-content="{{settings.languageSupport.votingCountDownClockSeconds}}"></span>
    </div>
    <p class="voting__count-down-copy">{{countdownSubTitle}}</p>
</div>