{{#data}}
    {{#navs}}
    <ul class="list">
        {{#entries}}
            <li class="list_item">
                <a href="{{url}}" target="_blank" title="{{title}}" class="{{className}}">{{title}}</a>
            </li>
        {{/entries}}
    </ul>
    {{/navs}}
    <div class="logo"></div>
    <p class="copyright">{{{copyright}}}</p>
{{/data}}