{{#data}}
    <div class="module_content s_container">
        {{#items}}
            {{#link}}<a href="{{.}}">{{/link}}
            {{#image}}
                {{>common/image}}
            {{/image}}
            {{#link}}</a>{{/link}}
        {{/items}}
    </div>
{{/data}}