{{#slate}}
    <div class="player_slate{{#.typeClass}} {{.}}{{/.typeClass}}">
        <div class="player_slate_content">
            {{#.headline}}
                <div class="player_slate_title">
                    <h2>{{.}}</h2>
                </div>
            {{/.headline}}
            {{#.description}}
                <p class="player_slate_description">{{{.}}}</p>
            {{/.description}}
            {{#.button}}
                <div class="player_slate_button{{#.typeClass}} {{.}}{{/.typeClass}}">{{.title}}</div>
            {{/.button}}
        </div>
    </div>
{{/slate}}