{
    "@context": "http://schema.org",
    "@type": "VideoObject",
    "name": "{{#title}}{{.}}{{/title}}",
    "description": "{{#description}}{{.}}{{/description}}",
    "thumbnailUrl": "{{#image}}{{url}}{{/image}}",
    "duration" : "{{#duration}}{{.}}{{/duration}}",
    "uploadDate": "{{#uploadDate}}{{.}}{{/uploadDate}}",
    "transcript": "{{#transcript}}{{.}}{{/transcript}}"
}

