{{#provider}}
    <div class="live-stream__provider">
        {{#.title}}
            <span class="live-stream__provider-title">{{.}}</span>
        {{/.title}}

        <img class="live-stream__provider-logo" src="{{.logo}}" alt="{{.name}}">
    </div>
{{/provider}}