{{#settings.sponsorAd.size}}
    <div class="live-stream__sponsor-ad {{$adClass}}{{/adClass}}" data-adsize="{{.}}" data-ad-sizes="{{.}}"
        {{#settings.sponsorship.campaignID}} data-campaign="{{.}}"{{/settings.sponsorship.campaignID}}
    ></div>
{{/settings.sponsorAd.size}}