{{#data}}
    <div class="s_eventScheduleCol s_fonts_eventScheduleCol">
        {{#schedules}}
            <div class="event_{{shortId}} s_eventScheduleRow">
                <div>{{shortDate}}</div>
                <div class="s_eventScheduleRowTime">{{startTime}}</div>
                <div class="s_fonts_eventScheduleRowTitle">{{label}}</div>
            </div>
        {{/schedules}}
    </div>
{{/data}}