<ul class="s_layouts_snapResults">
    <div class="s_layouts_snapColumn one">
        {{#columnOne}}
            {{> Modules/ENT_M171/V3_0_0/Controller/items}}
        {{/columnOne}}
    </div>
    <div class="s_layouts_snapColumn two">
        {{#columnTwo}}
            {{> Modules/ENT_M171/V3_0_0/Controller/items}}
        {{/columnTwo}}
    </div>
    <div class="s_layouts_snapColumn three">
        {{#columnThree}}
            {{> Modules/ENT_M171/V3_0_0/Controller/items}}
        {{/columnThree}}
    </div>
    <div class="s_layouts_snapColumn four">
        {{#columnFour}}
            {{> Modules/ENT_M171/V3_0_0/Controller/items}}
        {{/columnFour}}
    </div>
</ul>