{{#data}}
    <div class="ent_m232-module-wrapper">
        {{#moduleTitle}}
            <h2 class="ent_m232-module-header">{{moduleTitle}}</h2>
        {{/moduleTitle}}

        <div class="ent_m232-content-wrap">
            <div class="ent_m232-summary-wrap">
                {{#eventWeekday}}
                    <div class="ent_m232-summary-weekday">
                        {{eventWeekday}}
                    </div>
                {{/eventWeekday}}
                {{#eventDate}}
                    <div class="ent_m232-summary-date">
                        {{eventDate}}
                    </div>
                {{/eventDate}}
                {{#eventTimes}}
                    <div class="ent_m232-summary-times">
                        {{{eventTimes}}}
                    </div>
                {{/eventTimes}}
                {{#eventTimezone}}
                    <div class="ent_m232-summary-timezone">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54 54" enable-background="new 0 0 54 54" xml:space="preserve">
                            <g>
                                <path d="M49.8,13.8c2.3,4,3.5,8.4,3.5,13.2c0,4.8-1.2,9.2-3.5,13.2c-2.4,4-5.5,7.2-9.6,9.6c-4,2.3-8.4,3.5-13.2,3.5
                                    s-9.2-1.2-13.2-3.5c-4-2.4-7.2-5.5-9.6-9.6c-2.4-4-3.5-8.4-3.5-13.2c0-4.8,1.2-9.2,3.5-13.2c2.3-4,5.5-7.2,9.6-9.6
                                    c4-2.4,8.4-3.5,13.2-3.5s9.2,1.2,13.2,3.5C44.2,6.6,47.4,9.8,49.8,13.8z M43.1,36.3c1.7-2.9,2.5-6,2.5-9.3c0-3.4-0.8-6.5-2.5-9.3
                                    c-1.7-2.9-3.9-5.1-6.8-6.8c-2.9-1.7-6-2.5-9.3-2.5s-6.5,0.8-9.3,2.5c-2.9,1.7-5.1,3.9-6.8,6.8c-1.7,2.9-2.5,6-2.5,9.3
                                    c0,3.4,0.8,6.5,2.5,9.3c1.7,2.9,3.9,5.1,6.8,6.8c2.9,1.7,6,2.5,9.3,2.5s6.5-0.8,9.3-2.5C39.2,41.5,41.5,39.2,43.1,36.3z M31.4,15
                                    v15.3c0,0.3-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3h-11c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.8v-2.2
                                    c0-0.3,0.1-0.6,0.3-0.8c0.2-0.2,0.5-0.3,0.8-0.3H27V15c0-0.3,0.1-0.6,0.3-0.8c0.2-0.2,0.5-0.3,0.8-0.3h2.2c0.3,0,0.6,0.1,0.8,0.3
                                    C31.3,14.4,31.4,14.6,31.4,15z"></path>
                            </g>
                        </svg>
                        {{eventTimezone}}
                    </div>
                {{/eventTimezone}}
                {{#eventLocation}}
                    <div class="ent_m232-summary-location">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54 54" enable-background="new 0 0 54 54" xml:space="preserve">
                            <g>
                                <path d="M44.5,18.2c0,2.5-0.4,4.5-1.1,6.1L30.9,50.9c-0.4,0.8-0.9,1.3-1.6,1.8c-0.7,0.4-1.5,0.6-2.3,0.6c-0.8,0-1.6-0.2-2.3-0.6
                                    c-0.7-0.4-1.3-1-1.6-1.8L10.6,24.4c-0.8-1.6-1.1-3.6-1.1-6.1c0-4.8,1.7-9,5.1-12.4C18,2.4,22.2,0.7,27,0.7s9,1.7,12.4,5.1
                                    C42.8,9.3,44.5,13.4,44.5,18.2z M33.2,24.4c1.7-1.7,2.6-3.8,2.6-6.2c0-2.4-0.9-4.5-2.6-6.2c-1.7-1.7-3.8-2.6-6.2-2.6
                                    c-2.4,0-4.5,0.9-6.2,2.6c-1.7,1.7-2.6,3.8-2.6,6.2c0,2.4,0.9,4.5,2.6,6.2c1.7,1.7,3.8,2.6,6.2,2.6C29.4,27,31.5,26.1,33.2,24.4z">
                                    </path>
                            </g>
                        </svg>
                        {{eventLocation}}
                    </div>
                {{/eventLocation}}
                {{#settings.adSize}}
                    <div class="ent_m232-summary-ad-wrap">
                        <div class="ent_m232-summary-ad" data-adsize="{{settings.adSize}}" data-ad-sizes="{{settings.adSize}}"></div>
                    </div>
                {{/settings.adSize}}
            </div>
            <div class="ent_m232-schedule-wrap">
                {{#items}}
                    <div class="ent_m232-schedule-item{{#isMinimized}}-minimized{{/isMinimized}} ">
                        <div class="ent_m232-schedule-item-meta-wrap {{^isMinimized}}{{^image}}no-image{{/image}}{{/isMinimized}}">
                            {{#time}}
                                <div class="ent_m232-schedule-item-time">
                                    {{time}}
                                    <span class="ent_m232-schedule-item-time-suffix">{{suffix}}</span>
                                </div>
                            {{/time}}
                            <div class="ent_m232-schedule-item-meta">
                                {{#title}}
                                    <div class="ent_m232-schedule-item-meta-title">
                                        {{title}}
                                    </div>
                                {{/title}}
                                {{#duration}}
                                    <div class="ent_m232-schedule-item-meta-duration">
                                        {{duration}}
                                    </div>
                                {{/duration}}
                                {{#copy}}
                                    <div class="ent_m232-schedule-item-meta-copy">
										{{{copy}}}
                                    </div>
                                {{/copy}}
                                {{#button}}
                                    <a href="{{url}}">
                                        <div class="ent_m232-schedule-item-meta-button">
                                            {{text}}
                                        </div>
                                    </a>
                                {{/button}}
                            </div>
                        </div>
                        {{#image}}
                            <div class="ent_m232-schedule-item-image-wrap">
                                {{> common/image }}
                            </div>
                        {{/image}}
                    </div>
                {{/items}}
            </div>

        </div>
    </div>
{{/data}}