{{#data}}

    <div class="ent_m235-module-content page-feed">
        <div class="ent_m235-wrap">
            <div class="page-feed__items">
                {{> Modules/ENT_M235/V1_0_0/Controller/items}}
            </div>
            <div class="page-feed__loader">
                <div class="loader"></div>
            </div>
            <a href="#" class="line-listing-load-more js-load-more notriforce hidden">Load More</a>
        </div>
    </div>

    {{> common/overlay}}

{{/data}}
