{{#slate}}
    <div class="live-stream__slate">
        <div class="live-stream__slate-wrapper">
            {{#.title}}
                <h3 class="live-stream__slate-title">{{.}}</h3>
            {{/.title}}

            {{#.button}}
                <div class="live-stream__slate-button">{{.title}}</div>
            {{/.button}}
        </div>
    </div>
{{/slate}}