{{#tvProvider}}
    <div class="player_tvProvider_holder player_tvProvider tag">
        {{#.title}}
            <span>{{.}}</span>
        {{/.title}}
        <img src="{{.logo}}" alt="{{.name}}">
    </div>
{{/tvProvider}}