<div id="shareMarkup">
    <ul>
        {{#settings.share}}
            <li class="has_icon {{.typeClass}} share_btn s_icons_hasIcon s_icons_{{.typeClass}} share_btn">
                <span class="screen_reader_text">{{.title}}</span>
            </li>
        {{/settings.share}}
    </ul>
</div>