{{#tvProvider}}
    <div class="player_tvProvider_holder">
        <div class="player_tvProvider">
            {{#.title}}
                <span class="player_tvProvider_title">{{.}}</span>
            {{/.title}}

            <img class="player_tvProvider_logo" src="{{.logo}}" alt="{{.name}}">
        </div>
    </div>
{{/tvProvider}}