{{#data}}
	<div class="ent-m246-anchor-nav">
		{{#navItems}}
			<div class="ent-m246-anchor-nav--item"><a href="" data-target="{{url}}">{{text}}</a></div>
		{{/navItems}}
		<div class="ent-m246-anchor-nav--underline"></div>
		<div class="ent-m246-anchor-nav--gradient-left"></div>
		<div class="ent-m246-anchor-nav--gradient-right"></div>
	</div>
{{/data}}