{{< page/triforce_skeleton_v2_0_0 }}
{{$cssLinks}}<link rel="stylesheet" type="text/css" href="/media/base.css" />{{/cssLinks}}
{{$dnsPrefetchExtras}}
<link rel="dns-prefetch" href="//repo.cc.com">
<link rel="dns-prefetch" href="//btg.mtvnservices.com">
<link rel="dns-prefetch" href="//media.mtvnservices.com">
<link rel="dns-prefetch" href="//media-utils.mtvnservices.com">
{{/dnsPrefetchExtras}}
{{$activityIndicator}}<div id="activityIndicator" class="s_states_activityIndicator"></div>{{/activityIndicator}}
{{/ page/triforce_skeleton_v2_0_0 }}