<div class="tab-container tab-{{letter}}{{#terms}} active loaded{{/terms}}" data-tab-letter="{{letter}}">
        {{> module/vertical_linelist/writings/writing-item}}
    <div class="ajax-loader-container">
        <section class="line-listing--loading"></section>
    </div>
</div>