{{#data}}
    <div class="middle">
        {{#items}}
        <div class="image-outer-wrapper">
            <div class="image-inner-wrapper">
                {{> common/image}}
            </div>
        </div>
        {{/items}}
    </div>
{{/data}}