{{#seasonMessageHeader}}
    <div id="season_watch_container">
        <div class="header">{{.}}</div>
        {{#seasonMessageBody}}<div class="deck">{{{.}}}</div>{{/seasonMessageBody}}
    </div>
{{/seasonMessageHeader}}