{{#items}}
    <li class="S001_line_list_item s_layouts_lineListItem s_layouts_lineListVideoItem">
        <a class="link_wrapper" href="{{canonicalURL}}">
            <div class="thumbnail_holder s_layouts_lineListItemImageWrapper">
                {{#images}}<div data-toqueue="true" data-info="[{&quot;original&quot;: { {{#width}}{{#height}}&quot;width&quot;: {{width}}, &quot;height&quot;:{{height}}{{/height}}{{/width}} }, &quot;src&quot;: &quot;{{.url}}&quot;, {{#.alt}} &quot;alt&quot;: &quot;{{.}}&quot;,{{/.alt}} &quot;quality&quot;: 0.85},null]" class="image_holder deferred"></div>{{/images}}
                {{#formatedDuration}}<div class="s_layouts_lineListDurationBadge">{{.}}</div>{{/formatedDuration}}
            </div>
            {{#season}}{{#number}}<h4>{{.}}{{/number}}{{#subType}}&nbsp;·&nbsp;{{.}}{{/subType}}</h4>{{/season}}
            {{#shortTitle}}<h3 class="s_fonts_lineListHeader">{{.}}</h3>{{/shortTitle}}
            {{#shortDescription}}<p>{{.}}</p>{{/shortDescription}}
            {{#airDateNY}}<span class="s_episodeAirDate">{{shortMonth}}/{{day}}/{{shortYear}}</span>{{/airDateNY}}
        </a>
    </li>
{{/items}}