{{#data}}
    {{#adSize}}
        <div class="ad ad_{{adSize}} s_ads_{{adSize}}{{#displayOnMobile}} ad--mobile{{/displayOnMobile}}{{#displayOnDesktop}} ad--desktop{{/displayOnDesktop}}" data-adsize="{{adSize}}" data-allowontablet="{{#tabletAds}}true{{/tabletAds}}{{^tabletAds}}false{{/tabletAds}}"></div>
    {{/adSize}}
{{/data}}