{{#tabs}}
    <span class="s_layouts_snapTab{{#active}} active{{/active}}" data-filter="{{bucket}}">{{label}}</span>
{{/tabs}}
{{#bucketName_s}}
    <span class="s_layouts_snapTab{{#active}} active{{/active}}" data-filter="{{bucket}}">{{label}}</span>
{{/bucketName_s}}